body{
    margin: 0;
    padding: 0;
  background-color: rgba(230, 230, 230, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}
canvas {
  background-color: white;
}